<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd ">

    <!-- 自动扫描 -->
    <!-- <context:component-scan base-package="com.happy3w.autobuy"/> -->
	 <context:annotation-config/>
    <bean id="config" class="com.happy3w.autobuy.config.AppConfig"/>
<!--     <bean id="transfer" class="com.happy3w.autobuy.transfer.TransferUrl"/> -->
<!--     <bean id="http" class="com.happy3w.autobuy.util.HttpUtil"/> -->
<!--     <bean id="orderManager" class="com.happy3w.autobuy.transfer.TransferProxy"/> -->
<!--     <bean id="autoBuySvc" class="com.happy3w.autobuy.svc.AutoBuySvc"/> -->
<!--     下载最新订单：入口
    <bean id="provider" class="com.happy3w.autobuy.down.YYOrderProvider">
    	<property name="firstTime" >
    		<bean id="today" class="java.util.Date"/>
    	</property>
    	<property name="period" value="5000"/>
    	<property name="task" ref="task"/>
    </bean>
		下载最新订单：调度任务
    <bean id="task" class="com.happy3w.autobuy.down.YYOrderProviderTimerTask">
    	<property name="orderCache" ref="orderCache"/>
    	<property name="orderManager" ref="orderManager"/>
    </bean>
	     下载最新订单：执行下载
    <bean id="orderManager" class="com.happy3w.autobuy.transfer.TransferProxy">
    	<property name="http" ref="http"/>
    	<property name="transfer" ref="transfer"/>
    </bean>
    处理http请求
    <bean id="http" class="com.happy3w.autobuy.util.HttpUtil"/>
    中转站url
    <bean id="transfer" class="com.happy3w.autobuy.transfer.TransferUrl"/>
    订单集合
    <bean id="orderCache" class="com.happy3w.autobuy.svc.OrderCache">
    </bean>
    <bean id="dataConfig" class="com.happy3w.autobuy.util.config.DataConfigDev"/> -->
</beans>